{% extends "base.html" %}
{% block content %}
<h1>Data Mahasiswa</h1>
<form method="POST">
                {{form.hidden_tag()}}
        <div class="form-group">
                {{form.npm.label(class="form-control-label")}}
                {% if form.npm.errors %}
                        {{form.npm(class="form-control")}} 

                        <div class="invalid-feedback">
                                {% for error in form.npm.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                        </div>
                {% else %}
                        {{form.npm(class="form-control")}}
                {% endif %}
        </div>

        <div class="form-group">
                {{form.nama.label(class="form-control-label")}}
                {{form.nama(class="form-control")}} 
        </div>

        <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {% if form.npm.errors %}
                        {{form.npm(class="form-control")}} 

                        <div class="invalid-feedback">
                                {% for error in form.npm.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                        </div>
                {% else %}
                        {{form.npm(class="form-control")}}
                {% endif %}
        </div>

        <div class="form-group">
                {{form.kelas.label(class="form-control-label")}}
                {{form.kelas(class="form-control")}} 
        </div>

        <div class="form-group">
                {{form.alamat.label(class="form-control-label")}}
                {{form.alamat(class="form-control")}} 
        </div>

        <div class="form-group">
                {{form.submit(class="btn btn-primary")}} 
        </div>
         
      </form>
      
<h2>Data Mahasiswa 2020</h2>
<label for="">NPM :</label>{{form.npm.data}} <br>
<label for="">Nama :</label>{{form.nama.data}} <br>
<label for="">Email :</label>{{form.email.data}} <br>
<label for="">Kelas :</label>{{form.kelas.data}} <br>
<label for="">Alamat :</label>{{form.alamat.data}} <br>

{% endblock content %}